<div>
  <nav class='navbar navbar-default'>
      <div class='container-fluid'>
          <a class='navbar-brand'>{{ title }}</a>
          <div *ngIf='IsAuthenicated'>
            <ul class='nav navbar-nav'>
                <li><a [routerLink]="['/tours']">Tour Management</a></li>
                <li><a [routerLink]="['/customers']">Customer</a></li>
                <li><a [routerLink]="['/managers']">Manager</a></li>
                <li><a [routerLink]="['/ingredient']">Ingredient</a></li>
                <li><a [routerLink]="['/users']">User</a></li>
                <li><a [routerLink]="['/about']">About</a></li>
            </ul>
          </div>
          <div *ngIf='!IsAuthenicated'>
                <ul class='nav navbar-nav'>
                    <!-- <li><a [routerLink]="['/login']">Login</a></li> -->
                </ul>
              </div>
      </div>
  </nav>
  <div class='container'>
      <router-outlet></router-outlet>
  </div>
</div>
